nav {
    display: flex;
    gap: 1em;
}

.nav-item {
    padding: 0.5em 1.3em;
    border-radius: 50px;
    background-color: rgb(59, 59, 59);
}

.nav-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    background-color: rgb(104, 104, 104);
    cursor: pointer;
}

.selected {
    background-color: #ff6b00;
}


.playlists-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: 2em;
    margin-top: 2em;
    margin-bottom: 200px;
}

.playlist {
    width: fit-content;
}

.playlist:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.playlist img {
    display: block;
}

.playlist p {
    margin: 10px 10px 0;
    text-align: center;
}