form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    background-color: blueviolet;
}

input {
    /* background-color: lightgray; */
    border: none;
    border-radius: 5px;
}

.container {
    width: 60%;
    margin: auto;
    color: white;
}