.playlists-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

main h1 {
    text-align: left;
    margin-left: 5%;
    color: var(--text-color);
    font-size: 2.5rem;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.box-playlist {
    background-color: var(--card-bg);
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 12px var(--shadow-color-dark);
}

.box-playlist:hover {
    background-color: var(--sidebar-bg);
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 8px 20px var(--shadow-color-light);
}

.box-playlist img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color-dark);
}

.box-playlist p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-text-color);
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.add-playlist {
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.add-playlist:hover {
    transform: scale(1.05) translateY(-5px);
}

.btn-add-playlist {
    background: linear-gradient(45deg, var(--orange), var(--darker-orange));
    color: var(--text-color);
    font-size: 40px;
    width: 80%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-add-playlist:hover {
    background: linear-gradient(45deg, var(--darker-orange), var(--darker-orange));
}

.add-playlist p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}