* {
    box-sizing: border-box;
}

body {
    color: #FFFF;
}

.flex {
    display: flex;
}

.lighter-text {
    color: #B3B3B3;
}

.profile-header {
    /* gap: 2em; */
    /* border: 1px solid red; */
}

.user-icon > img {
    display: block;
    border-radius: 50%;
}

.user-info {
    margin-left: 2em;
    flex-direction: column;
    /* border: 1px solid green; */
    justify-content: start;
    gap: 0.5em;
    height: fit-content;
    margin-top: auto;
}

.edit-btn {
    border-radius: 50px;
    padding:  10px 20px;
    font-size: 0.9rem;
    width: fit-content;
    border: none;
    font-weight: 700;
    background-color: #ff6b00;
    height: fit-content;
    margin-top: auto;
}

.edit-btn:hover {
    background-color: #f58332;
    cursor: pointer;
}

p, h1, h3 {
    margin: 0;
}

.username {
    font-size: 3.5em;
    /* border: 1px solid pink; */
}

.user-details {
    gap: 0.625em;
    /* border: 1px solid yellow; */
    align-items: center;
}

.song {
    padding: 0 1.875em;
    justify-content: space-between;
    padding: 1em;
}

.song:hover,
.song:focus {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    background-color: grey;
}


.song-detail {
    gap: 1em;
}

.song-info {
    flex-direction: column;
}

.play-icon:hover, .icon:hover {
    transform: scale(1.3);
}

.mais-tocadas {
    padding: 1.6em 0 5em;
    margin-top: 1.5em;
}

.song-detail, .song{
    align-items: center;
}

.song-cover {
    width: 50px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.playlists-container, .artists-container, .friends-container {
    overflow-x: auto;
    gap: 1em;
    padding-top: 1em;
    /* border: 1px solid red; */
}

.playlist-card, .artist-card, .amigo-card {
    /* border: 1px solid green; */
    text-align: center;
}

.seus-artistas, .seus-amigos {
    margin-top: 5em;
}

.artist-icon, .amigo-icon {
    border-radius: 50%;
}